
x64/
*.ipch
.vs/HiLoGame/v17/Browse.VC.db-wal
.vs/HiLoGame/v17/Browse.VC.opendb
.vs/HiLoGame/v17/Browse.VC.db-shm
.vs/HiLoGame/v17/Browse.VC.db
.vs/HiLoGame/v17/.suo
.vs/HiLoGame/FileContentIndex/e71970bd-627a-4985-ad79-207ad26e0f86.vsidx
.vs/HiLoGame/FileContentIndex/bee892ba-4668-4b01-bdf6-62c93f4d41c0.vsidx
